@{
    ViewData["Title"] = "Appointment Info";
}
@model TempleSignUp.Models.Appointment

<h1>Fill Out Appointment Info</h1>

<div>
    <form method="post" asp-action="Form">

        <div asp-validation-summary="All"></div>
        <input type="hidden" asp-for="AppointmentID" />

        <input type="hidden" asp-for="Date" />

        <label for="PrettyDate">Date:</label>
        <input id="PrettyDate" disabled  value="@Model.Date.ToShortDateString()"/>
        <br />

        <input type="hidden" asp-for="Time" />


        <label for="PrettyTime">Time:</label>
        <input id="PrettyTime" disabled value="@Model.GetTime()" />
        <br />

        <label asp-for="GroupName">Name of group:</label><br />
        <input asp-for="GroupName" /><br />

        <label asp-for="GroupSize">Size of group (maximum group size is 15):</label><br />
        <input asp-for="GroupSize" /><br />

        <label asp-for="Email">Email (address@email.com):</label><br />
        <input asp-for="Email" /><br />

        <label asp-for="PhoneNumber">Phone number (123-456-7890):</label><br />
        <input asp-for="PhoneNumber" /><br />

        <button type="submit">Submit</button>
    </form>
</div>