@{
    ViewData["Title"] = "Sign Up";
}
@model TempleSignUp.Models.Appointment

<div class="text-center">
    <h1 class="display-4">Tour Sign Up</h1>
</div>

<form method="post">
    @*TODO: Need to add asp-for stuff later*@

    <label>Week: </label><br />
    <select>
        <option value="">Select a week to view available appointments</option>
    </select>
    <br /><br />

    <label>Appointment: </label><br />
    <select>
        <option value="">Select an available appointment</option>
    </select>
    <br /><br />

    <label asp-for="Time">Appointment Time: </label><br />
    <select asp-for="Time">
        <option value="">Select an available time</option>
        <option value=8>8 AM</option>
        <option value=9>9 AM</option>
        <option value=10>10 AM</option>
        <option value=11>11 AM</option>
        <option value=12>12 PM</option>
        <option value=13>1 PM</option>
        <option value=14>2 PM</option>
        <option value=15>3 PM</option>
        <option value=16>4 PM</option>
        <option value=17>5 PM</option>
        <option value=18>6 PM</option>
        <option value=19>7 PM</option>
        <option value=20>8 PM</option>
    </select>
    <br /><br />

    <input type="submit" value="Schedule Tour" />

    @*TODO: Add validation?*@
    <div asp-validation-summary="All"></div>

</form>