@{
    ViewData["Title"] = "Sign Up";
}
@model TempleSignUp.Models.Appointment

<div class="text-center">
    <h1 class="display-4">Tour Sign Up</h1>
</div>

<form method="post">
    @*TODO: Need to add asp-for stuff later*@

    <label>Week: </label><br />
    <select>
        <option value="">Select a week to view available appointments</option>
    </select>
    <br /><br />

    <label>Appointment: </label><br />
    <select>
        <option value="">Select an available appointment</option>
    </select>
    <br /><br />

    <input type="submit" value="Schedule Tour" />

    @*TODO: Add validation?*@
    <div asp-validation-summary="All"></div>

</form>