@{
    ViewData["Title"] = "Sign Up";
}
@model Appointment

<div class="text-center">
    <h1 class="display-4">Tour Sign Up</h1>
</div>

<form method="post" asp-controller="Home" asp-action="Add">
    @*TODO: Need to add asp-for stuff later*@
    <label asp-for="Date">Date:</label>
    <input asp-for="Date" type="date" id="date" onchange="doAction(this.value);"/>
    <br />

    <label asp-for="Time">Appointment Time: </label><br />
    <select asp-for="Time">
        @foreach (int time in ViewBag.times)
            {
                <option value=@time>@Model.GetTime(time)</option>
            }
    </select>
    <br /><br />

    <input type="submit" value="Schedule Tour" />

    @*TODO: Add validation?*@
    <div asp-validation-summary="All"></div>

</form>

<script>
    function doAction(val) {
        window.location = 'http://localhost:5001/Home/SignUp/?day=' + val;
    }
</script>